@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

#book {
  position: relative;
  width: 80%;
  height: 80%;
}

#pageSection {
  position: relative;
  width: 49%;
  height: 100%;
  margin-left: 55%; /* 기존의 margin-left 값 유지 */
  perspective-origin: center;
  perspective: 2500px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0px;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

.page-active {
  opacity: 1;
  pointer-events: auto;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  font-size: 18px;
  line-height: 2.25;
  font-family: "yg-jalnan";
}

.pageImage {
  position: absolute;
  top: 0;
  left: -250px;
  margin: 0;
  width: 250px;
  height: 200px;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.pageImage-active {
  opacity: 1;
}
