.button_color {
    width:8rem;
    height: 4rem;
    background-color: #D4A373;
    border-radius: 61px;
    cursor: pointer;
}

.select {
    width:8rem;
    height: 4rem;
    background-color: #FAEDCD;
    border-radius: 61px;
    cursor: pointer;
}