.Box {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(34, 31, 31, 0);
  transition: background 0.5s ease;
}

.Box:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.title {
  width: 100%;
  top: 85%;
  font-weight: bold;
  font-size: 50px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  transition: top 0.5s ease;
  font-family: 'omyu_pretty';
  background-color: #ccd5ae;
}

.Box:hover .title {
  top: 0;
  opacity: 0.5;
}

.button {
  opacity: 0;
  transition: opacity 0.35s ease;
  top: 70%;
}

.Box:hover .button {
  opacity: 1;
}
