.link-container {
  display: flex;
  width: 95%;
}

.link {
  text-decoration: none;
  padding: 8px 12px;
  /* border: 2px solid #d4a373; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #d4a373;
  font-size: 16px;
  background-color: #faedcd;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #d4a373;
  color: #faedcd;
}
