version: '3'

services:
  redis:
    container_name: redis
    image: redis
    networks:
      - app-network
  db:
    image: mysql
    command: --default-authentication-plugin=caching_sha2_password
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_SECRET}
      MYSQL_DATABASE: ssafy
      MYSQL_ROOT_HOST: '%'
      TZ: 'Asia/Seoul'
    networks:
      - app-network
  db-backup:
    image: appropriate/mysql-backup
    volumes:
      - db-data:/var/lib/mysql
      - /path/to/backup/folder:/backup
    environment:
      CRON_TIME: '0 0 * * *'
    networks:
      - app-network
volumes:
  db-data:
  shared-volume:

networks:
  app-network:
    driver: bridge